body{
    background-color: #91A5CB;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
#title{
    position:absolute;
    display: block;
    padding-left: 3em;
    font-size: 50px;
    font-weight: 1000;
}
#svg{
    position: absolute;
    float: left;
    opacity: 0.65;
}
#topbar{
    width:100%;
    height: 7em;
    position:fixed;
    background-color: #313C5D;
    color: white;

    z-index: 99;
    
}
#current{
    color:#306Ed8; 
}
#description1 #description2{
    
}


.dropbutton {
background-color: #306Ed8;
color: white;
padding: 16px;
font-size: 16px;
border: none;
float: right;

}

.dropdown {
width: 15%;
height: 25%;
position: relative;
display: inline-block;
float: right;
}

.dropdowncontent {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdowncontent a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdowncontent a:hover {background-color: #ddd;}

.dropdown:hover .dropdowncontent {display: block;}

.dropdown:hover .dropbutton {background-color: #306Ed8;}

.imageDiv{
display: block;
position:absolute;
top: 30%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
color:#313C5D;
text-align: center;

}
#image{
border-radius: 50%;
}
p{
text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 8em;
    margin-right: 8em;
    font-size: 25px;
    line-height: 3em;
}

.footer{
font-size: 15px;
bottom: 0;
display: block;

}
@keyframes scrollIntoView {
0%{
opacity: 0;
}
50%{
opacity: 0.5;
}
100%{
opacity: 1;
}

}

@keyframes scrollOutView {
0%{
opacity: 1;
}
50%{
opacity: 0.5;
}
100%{
opacity: 0;
}

}


.fade-animation{
animation: scrollIntoView 1s 1;
}

.fade-animation-out{
animation: scrollOutView 1s 1;
}

.fa-linkedin {
background: #007bb5;
color: white;
left: 10px;
text-align: center;
width: 30px;
height: 30px;
position: fixed;
}
.fa-linkedin:hover{
    width: 40px;
    height: 40px;
    z-index: 7;
    }

.fa-facebook {
background: #3B5998;
color: white;
left: 50px;
text-align: center;
width: 30px;
height: 30px;
position: fixed;
}
.fa-facebook:hover{
    width: 40px;
    height: 40px;
    z-index: 7;
    }

.fa-github {
background: gray;
color: white;
left: 90px;
text-align: center;
width: 30px;
height: 30px;
position: fixed;
}
.fa-github:hover{
    width: 40px;
    height: 40px;
    z-index: 7;
    }

.fa {
        padding: 5px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
      }
